body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    /*background-image: url("/assets/img/tom-barrett-M0AWNxnLaMw-unsplash.jpg");
    background-size: cover;*/
}
.head {
    background: #981a1a;
    padding: 100px 90px;
    background-image: url("/assets/img/tom-barrett-M0AWNxnLaMw-unsplash.jpg");
    background-size: cover;
    background-position: 20% 50%;
    display: flex;
    flex-direction: row-reverse;
    margin-inline: 10%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.head h1 {
    font-size: 50pt;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-inline: 10%;
}
.foot {
    background: #2c64ff;  
}
.foot h1 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-inline: auto;
    font-weight: 100;
   text-align: center;
   padding: 10px;
}
.card { 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    width: 50%;
    display: flex;
    margin: 10pt;
    background-image: url("/assets/img/tom-barrett-M0AWNxnLaMw-unsplash.jpg");
    
    
    
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card img {
    width: 200pt;
    height: 200pt;
    object-fit: cover;
  }
  .card div {
    margin: auto;
    
  }
  .container {
    padding: 2px 16px;
  }